
.bgeffect{
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.not-bold{
	font-weight: normal;
}
body.full{
	background-color: #f7f7f7;
}
.left{
	float: left;
}
.right{
	float: right;
}
#login{
	width: 400px;
	margin: 20px auto;
	text-align: left;
	.form-horizontal .control-label{
		width: 120px;
	}
	.form-horizontal .controls{
		margin-left: 140px;
	}
}
.knob-red,.knob-green{
	position: relative;
	width: 200px;
	height: 175px;
	margin: 0 auto;
}
.knob canvas {
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}
.rating {
	.num{
		display: none;
	}
	position: absolute;
	top: 54px;
	left: 44px;
	width: 123px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.knob-red .rating{
	color: #d55033;	
}
.knob-green .rating{
	color: #209f39;	
	top: 45px;
}
.rating strong {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.8em;
}
.rating span.big {
	font-size: 38px;
	font-weight: bold;
}
.rating span.small {
	font-size: 18px;
	font-weight: bold;
}
.rank{
	display: block;
	padding: 5px;
	margin: 5px 0 25px 0;
	background-color: #f7941d;
	color: #fff;
	position: relative;
	font-family: 'RSU_BOLD',Tahoma;
	span{
		display: inline-block;
	}
	.department-name{
		font-size: 17px;
		line-height: 1.2em;
	}
	.right{
		float: right;
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 35px;
	}
	.center{
		display: block;
		position: relative;
		text-align: center;
		margin-left: 10px;
	}
	.big{
		font-size: 120px;
		margin: 40px 0 20px 0;
	}
	.small{
		font-size: 30px;
	}
	.text{
		font-size: 30px;
		position: absolute;
		left: 5px;
		top: 35px;
		-moz-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-o-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-ms-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	}
	&:hover{
		background-color: darken(#f7941d,5%);
		color: #fff;
		text-decoration: none;
		.bgeffect
	}
}
#header{
	.dropdown{
		float: right;
		position: relative;
		.btn{
			position: absolute;
			right: 0;
			top: 10px;
		}
		.dropdown-menu{
			right: 40px;
			left: auto;
			a:hover{
				background-color: #e65454!important;
			}
		}
	}
	background-color: #343434;
	.logo{
		float: left;
		img{
			width: 80%;
			margin: 15px;
			margin-right: 0;
		}
	}
	h1{
		font-family: 'RSU_BOLD',Tahoma;
		font-weight: normal;
		color: #f4f4f4;
		font-size: 26px;
		margin-top: 11px;
		line-height: 1.2em;
	}
	h2{
		font-weight: normal;
		color: #f4f4f4;
		font-size: 16px;
		margin: 12px 15px;
		line-height: 1.7em;		
	}
}

#sidebar{
	padding-top: 15px;
	float: left;
	width: 200px;
	.nav{
		li{
			border-bottom: 1px solid #ddd;
		}
		a:hover{
			.bgeffect
		}
		.current{
			border-bottom: 1px solid darken(#e65454,10%);
			a{
				color: #fff;
				background-color: #e65454;
			}
			position: relative;
			&:after, &:before {
				left: 100%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-left-color: #e65454;
				border-width: 12px;
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				top: 50%;
				margin-top: -18px;
			}
		}
		a{
			padding: 8px 20px;
			color: #4a4a4a;
			i{
				padding-right: 6px;
			}
		}
	}
}

#sidebar-phone{
	margin-top: 20px;
	background-color: #fff;
	a{
		color: #4a4a4a;
	}
	.current{
		a{
			color: #fff;
			background-color: #e65454;
		}
	}
}
.grade-table{
	background-color: #fbfbfb;
	border: 1px solid #f0f0f0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 15px 20px;
	.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
		background-color: #fcfcfc;
	}
	h3{
		margin: 0;
		font-size: 29px;
		color: #444;
	}
}
.red{
	color: #e12638;
}
#content{
	padding: 15px 25px;
	background-color: #fff;
	margin-left: 200px;
	border-left: 1px solid #ddd;
	h1,h2,h3{
		font-family: 'RSU_BOLD',Tahoma;
		i{
			font-size: 70%;
		}
	}
}
.survey{
	td{
		padding: 10px;
	}
	.text-right{
		text-align: right !important;
	}
	.text-center td{
		text-align: center !important;
	}
	.num{
		display: none;
	}
}

.alert-error a{
	color: #000;
}
#sortable.active{
	li:hover{
		cursor: pointer;
		background-color: #e8e8e8;
	}
}
#sortable{
	margin: 0 0 20px 0;
	text-align: left;
	li{
		list-style-type: decimal;
		list-style-position: inside;
		margin: 0 5px 5px 5px;
		padding: 8px 15px;
		font-size: 1.1em;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #f7f7f7;
	}
	.ui-state-highlight {
		height: 1.5em;
		line-height: 1.2em;
		color: #8c8705;
		background-color: #fdfcd0;
		border-color: #f7ef17;
	}
}
/* Desktop */
@media (min-width: 979px) {
	#content-wrapper{
		margin-top: 52px;
	}
}
@media (max-width: 960px) {
	#header{
		margin: 0 -20px;
		padding: 0 20px;
		h1{
			display: none;
		}
	}
}
@media (max-width: 1140px) {
	#header h2{
		display: none;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#header{
		margin: 0 -20px;
		padding: 0 20px;
		h2{
			display: none;
		}
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#header{
		margin: 0 -20px;
		padding: 0 20px;
		h1,h2{
			display: none;
		}
	}
	#content{
		margin: 0;
		border: 0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

#login{
	width: auto;
	.form-horizontal .control-label{
		width: auto;
	}
	.form-horizontal .controls{
		margin-left: auto;
	}
	input[type="text"],input[type="password"]{
		width: auto;
	}
}
#header{
	.logo{
		text-align: center;
		img{
			margin: 10px 0;
		}
	}
}

}